html
  head
    title Contact List 2
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    
    div.container
      div.row
        div.col-xs-4.col-xs-offset-4#titleArea
          h1 My Contacts
          button.btn.btn-primary.btnlg(type='button', data-toggle='modal', data-target='#addToContactsModal') Add New Contact
          // Modal
          #addToContactsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Add New Contact
                .modal-body
                  form.form-horizontal(method="post", action="/submit")
                    .form-group
                      label.col-sm-2.control-label(for='nameInput') Name
                      .col-sm-10
                        input#nameInput.form-control(type='text', placeholder='Full Name', name="name")
                    .form-group
                      label.col-sm-2.control-label(for='emailInput') Email
                      .col-sm-10
                        input#emailInput.form-control(type='email', placeholder='Email', name="email")
                    .form-group
                      label.col-sm-2.control-label(for='phoneInput') Phone Number
                      .col-sm-10
                        input#phoneInput.form-control(type='tel', placeholder='Phone Number', name="phone")
                    button.btn.btn-primary(type='submit') Submit
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    .container
      .row
        .col-xs-12
          .table-responsive
            table.table
              thead
                th Name &nbsp; &nbsp; <i class="fa fa-lg fa-caret-down"></i>
                th Email &nbsp; &nbsp; <i class="fa fa-lg fa-caret-down"></i>
                th Phone Number &nbsp; &nbsp; <i class="fa fa-lg fa-caret-down"></i>
                th 
                  button.btn.btn-danger#remove Remove
              tbody#contactsList
                each contact in contacts
                  tr
                    td(contenteditable='true')= contact.name 
                    td(contenteditable='true')= contact.email 
                    td(contenteditable='true')= contact.phone 
                    td
                      input(type="checkbox")
                
          
    
    
    
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/main.js")
